
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.container header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainHome{
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.phraseContainer{
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}

.phraseContainer h1{
  text-align: center;
}

.phraseContain{
  display: flex;
  gap: 10px;
}

.filter{
  max-width: 200px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
}

.filter div{
  border-bottom: 1px solid #ededed;
}

.filter p{
  padding: 5px 10px;
  margin: 0px;
}

.filter ul{
  list-style: none;
  padding: 0px;
  margin: 0px ;
}

.filter ul button{
  width: 100%;
  text-align: start;
  height: 40px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
  padding: 5px 10px;
}

.filter ul button:hover{
  background: #E5E5E5;
 
}

.filter ul button.active{
  background: #E5E5E5;
  color: #FF6C47;
}

.resultTxtContainer{
  width: 100%;
}

.resultTxtContainer p{
  text-align: center;
  font-size: 14px;

}

.txtPhrase{
  border-radius: 10px;
  background: #fff;
  width: 100%;
  height: max-content;
  position: relative;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnPhraseContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.txtPhraseContainer{
  display: flex;
  flex-direction: column;
  padding:20px
}

.txtPhraseContainer p{
  text-align: center;
  font-size: 18px;
}

.monthFilter{
  display: flex;
  flex-direction: column;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  height: 35px;
  cursor: pointer;
 
 
  
}

.btn.btnClean:hover, .btn.btnCopy:hover {
  filter: brightness(1.1);
  transform: scale(1.1);
  transition: all 0.3s;
  
}

.btn.create:hover{
  filter: brightness(1.1);
  background: #ff9876;
  
}

.btn.create{
  background: #FF6C47;
  margin: 20px auto;
  

}

.btn.btnCopy{
  max-width: 100px;
  background: #FF6C47;
  gap: 5px;
  transition: all 0.3s;
}

.btn.btnClean{
  max-width: 100px;
  background: #000000;
  gap: 5px;
  color: #fff;
  transition: all 0.3s;
}

.loaderContainer{
  background: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.97);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  
}

/* HTML: <div class="loader"></div> */
.loader {
  height: 4px;
  width: 130px;
  --c:no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c),var(--c),#d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}

.loader p{
  text-align: center;
  margin-top: 6px;
}

@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}