
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid red;
}

.container header{
  display: flex;
  align-items: center;
 
}

.mainHome{
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.filter{
  max-width: 200px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  border: 1px solid red;
}

.dropdown {
  position: relative;
  display: block;
}

.dropbtn {
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%; 
  text-align: left;
  border-bottom: 1px solid grey;
  background: none;
}

.dropdown-content {
  display: block;
}

.dropdown-content button {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}


.phraseContainer{
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  border: 1px solid red;
}

.phraseContainer h1{
  text-align: center;
}

.txtPhrase{
  border-radius: 10px;
  background: #fff;
}

.btnPhraseContainer{
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.txtPhraseContainer{
  display: flex;
  flex-direction: column;
  padding:20px
}

.txtPhraseContainer p{
  text-align: center;
  font-size: 18px;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  height: 35px;
  cursor: pointer;
}

.btn.create{
  background: #FF6C47;
  margin: 0 auto;

  
}